body {
  background-color: #CED4DA;
}

.container {
  max-width: 800px;
  margin: auto;
}

#hero {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0.25em;
}

h3 {
  margin-bottom: 0.25em;
}

p {
  margin: 0.25em 0;
}

.welcome {
  font-style: italic;
}

h3 {
  text-decoration: underline;
}