.container {
  max-width: 1200px;
  margin: auto;
}

#hero {
  max-width: 100%;
  max-height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.welcome {
  font-style: italic;
}

h3 {
  text-decoration: underline;
}